body {
  /* font-family: 'PT Serif', serif !important; */
  background-color: #FFF;
}

header {
  background-color: rgb(37, 37, 37);
  text-align: center;
  color: #FFF;
}

.bold {
  font-weight: bold;
}

.caps {
  text-transform: uppercase;
}

a {
  color: #FFF !important;
}

a:hover {
  color: #ececec !important;
}

.fa {
  padding-right: 7px;
}

.italics {
  font-style: italic;
}

#name {
  font-size: 2.5em;
  padding-bottom: 15px;
}

section {
  padding: 30px;
}

.section {
  padding-bottom: 15px !important;
}

.section-title {
  border-bottom: 1px solid rgb(37, 37, 37);
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 0px;
  margin-bottom: 15px;
  font-size: 125%;
}

.social {
  padding-top: 15px;
}

.social-icon {
  font-size: 2em !important;
}

.work-link {
  color: rgb(37, 37, 37) !important;
}

.work-link:hover {
  text-decoration: underline !important;
  color: initial !important;
}

.wrapper {
  background-color: #ececec;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px #DDD;
  box-sizing: border-box;
}