body {
  font-family: 'PT Serif', serif;
}

header {
  background-color: rgb(37, 37, 37);
  text-align: center;
  color: #FFF;
  padding: 15px 0;
}

.bold {
  font-weight: bold;
}

#email {
  color: #FFF;
  
}

#last-name {
  text-transform: uppercase;
}

.wrapper {
  padding: 25px 50px;
}