@import "tailwindcss";

@theme {
  --color-primary: #0f2032;
  --color-secondary: #cfd2d6;
  --color-pink: #c8568d;

  --breakpoint-xs: 600px;
}

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    font-weight: 400;
    margin: 0;
    min-height: 90vh;
    padding: 0;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
  }

  a {
    color: var(--color-pink);
    text-decoration: none;
    font-weight: 500;
  }
}
